<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Our Catalog </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <strong>We propose these new courses</strong>
  <br />
  <ion-list>
    <ion-item
      [routerLink]="['/details', course.id]"
      *ngFor="let course of tabCourses"
    >
      <ion-avatar>
        <img [src]="course.image" />
      </ion-avatar>
      <ion-label class="ion-margin-horizontal"> {{ course.title }} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
